* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.project h1 {
    background-color: #1c2237;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.project p {
    margin: 20px 25px 0 25px;
   
    font-size: 16px;
    padding: 0px;
}

.projects-container {
    margin: 20px;
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
}

.project1 {
    padding: 0 20px 20px 20px;
    
    min-width: 300px;
    flex: 1;
}

.project1 img {
    width: 100%;
    height: auto;
}

.service-containers {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    margin: 0;
}

.service-box {
    border: 2px solid #1c2237;
   
    padding: 20px;
    margin: 20px;
    min-width: 300px;
    flex: 1 1 calc(33.333% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-box img {
    width: 80%;
    height: auto;
    max-width: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.service-title {
    margin-bottom: 5px;
    font-size: 1.25rem;
}
.service-title h2{
    margin-bottom: 0;
}
.service-desc p{
    margin: 0 20px;
    font-size: 1rem;
    text-align: justify;
    line-height: 1.4;
}
.call-to-action{
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.call-to-action a {
    background: #1c2237;
    color: aliceblue;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    max-width: 100%;
}
@media (max-width: 915px) {
    .project1  {
        min-width: 450px;
    }
}
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project1 {
        min-width: 100%;
        padding: 0 30px 0 30px;
    }

    .service-box {
        flex: 1 1 100%;
        margin: 10px 0;
    }
    .call-to-action {
        width: 100%;
    }

    .call-to-action a {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .project p {
        font-size: 12px;
    }
    .project1 {
        padding: 0 30px 10px 30px;
    }
    .service-box img {
        width: 100%;
        max-width: 100%;
    }
    .call-to-action {
        width: 100%;
        padding: 10px 0;
    }
    .call-to-action a {
        padding: 10px 15px;
        font-size: 0.875rem; 
      
    }
}
